<template id="about-template">
  <style>
    @import url(styles/main.css);
  </style>
  <div class="ctn pad-bot">
    <h1>About the CrystalCube Project</h1>
    <p>CrystalCube is a product that consists of five major components:</p>
    <ol>
      <li>
        <strong><u>The CrystalCube</u></strong>:
        A hardware appliance that houses the chatbot Crystal-chan, similar to a microwave-sized Amazon Echo.
      </li>
      <br>
      <li>
        <strong><u>Crystal-chan</u></strong>:
        A cute chatbot that lives inside the Cube who is voice and gesture interactive! ^-^
      </li>
      <br>
      <li>
        <strong><u>The CrystalCloud</u></strong>:
        A robust backend microservice-oriented infrastructure that powers the data that is sent to and from all of the other devices in the CrystalCube ecosystem.
      </li>
      <br>
      <li>
        <strong><u>PocketCrystal</u></strong>:
        A companion Android App that helps you stay connected with Crystal even on the go.
      </li>
      <br>
      <li>
        <strong><u>WebCrystal</u></strong>:
        The platform you're on right now! It serves the same purpose as the PocketCrystal but with the extra versatility of being available on all modern browsers.
      </li>
    </ol>
    <p>
      The product itself was inspired by the likes of Vinclu's Gatebox, a Japanese product that performs many of the same functions as the CrystalCube.
    </p>
    <p>
      No other products really exist in the US market (Amazon Echo, Google Home don't have displays) that are like it, so we decided to pursue making one ourselves!
    </p>
  </div>
</template>
