<template id="app-template">
  <style>
    @import url(styles/main.css);

    pre.userInfo {
      max-width: 100%;
      overflow: scroll;
    }

    .log-ctn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 360px;
      height: 100vh;
      background-color: rgba(0,0,0,.8);
    }
  </style>
  <div class="ctn">
    App
    <hr>
    <span id="response"></span>
    <div id="crystal-ctn"></div>
    <button onclick="toggleChatBar()">Show Messages</button>

    <div id="log-ctn" class="log-ctn">
      <button onclick="toggleChatBar()">Hide Messages</button>
      <h1>Message History</h1>
      <ul id="logs" class="logs">
        <li>Loading messages...</li>
      </ul>
      <input id="message_input" type="text" placeholder="Message...">
      <button onclick="newLog()">Submit</button>
    </div>

    <span id="app-info"></span>
  </div>
</template>

<script>
  let appRoot = ''
  let c_uname = ''

  function setAppInfo(newInfo) {
    setTimeout(() => {
      initCrystal()
      appRoot = document.querySelector('c-content').shadowRoot
      console.log(appRoot)
      let info = appRoot.getElementById('app-info')
      info.innerHTML = `<pre class="userInfo">${JSON.stringify(newInfo, null, 2)}</pre>`

      let response = appRoot.getElementById('response')
      c_uname = newInfo.displayName.split(' ')[0]
      response.innerHTML = `Hey there ${c_uname} `
      responsiveVoice.speak(`Hey there ${c_uname}`, "US English Female");
    }, 10)
    
    setTimeout(() => {
      let uid = firebase.auth().currentUser.uid;
      // Firebase Database Init Get
      var log = firebase.database().ref('/users/'+uid+'/logs').on('value', function(snapshot) {
        console.log('setting updatelog on value')
        updateLogs(snapshot.val())
      });
    }, 10)
  }

  function updateLogs(logs) {
    let newLogs = ''
    for (var log in logs) {
      newLogs += `
        <li>
          <strong>${logs[log].speaker}</strong>: ${logs[log].message}
          <br>
          <small>${logs[log].date}</small>
        </li>
      `
    }
    appRoot.getElementById('logs').innerHTML = newLogs
  }

  function newLog(message) {
    let uid = firebase.auth().currentUser.uid;

    let newMessage = {
      speaker: c_uname,
      message: appRoot.getElementById('message_input').value,
      date: new Date()
    }

    appRoot.getElementById('message_input').value = ''

    var newPostKey = firebase.database().ref('/users/'+uid).child('logs').push().key;

    var updates = {};
    updates[`/logs/${newPostKey}`] = newMessage

    firebase.database().ref('/users/'+uid).update(updates);

    // Firebase Database Init Get
    var log = firebase.database().ref('/users/'+uid+'/logs').on('value', function(snapshot) {
      console.log('setting updatelog on value')
      updateLogs(snapshot.val())
    });
  }

  function toggleChatBar() {
    appRoot.getElementById('log-ctn').style.display == 'none'
      ? appRoot.getElementById('log-ctn').style.display = 'block'
      : appRoot.getElementById('log-ctn').style.display = 'none'
  }
</script>
