<template id="nav-template">
  <style>
    @import url(styles/main.css);
    @import url(components/nav.css);
  </style>

  <div class="navbar">
    <div class="ctn">
      <a href="#!/" onclick="setRoute()"><img class="nav-logo" src="{{logo}}" alt=""></a>
      <button class="nav-toggle" onclick="toggleNav()">=</button>
      <ul id="nav-links" class="nav-links">
        <li><a href="#!/about" onclick="setRoute()">About</a></li>
        <li><a href="#!/team" onclick="setRoute()">Team</a></li>
        <li><a href="#!/login" class="login-btn" onclick="setRoute()">Login</a></li>
      </ul>
    </div>
  </div>
</template>


<script>
  function toggleNav() {
    let nav = document.querySelector('c-nav').shadowRoot

    var navLinks = nav.getElementById("nav-links").style.display

    if (navLinks == "none" || !navLinks) {
      nav.getElementById("nav-links").style.display = "block"
    } else {
      nav.getElementById("nav-links").style.display = "none"
    }
  }

  function component(selector) {
    return document.querySelector(selector).shadowRoot
  }
</script>
