<template id="tos-template">
  <style>
    @import url(styles/main.css);
  </style>
  <div class="ctn pad-bot">
    <h1>Terms of Service</h1>
    <p>
      CrystalCube, the "Project", is a product maintained by the
      CrystalCubeCrew, the "Team", whose members can be found on Github at
      <a href="https://github.com/orgs/CrystalCubeCrew/people">this link</a>.
    </p>
    <p>
      It is currently undergoing review for being designated as an open source
      project, however no formal licenses have yet been chosen.
    </p>
    <p>
      By using cube.crystalfruit.co, the "Website", you agree to not hold the
      Team responsible for any errors or other issues you may encounter while
      using our hardware, software, and/or communicating with our members involving
      the topic of the Project.
    </p>
    <p>
      This website is maintained by John Nguyen (<a href="https://github.com/tehjawn">@tehjawn</a>) -
      who is also the designated Team "Leader". If you have any questions, comments, or
      concerns, you may send them to John for review at crystalfruit.john@gmail.com.
    </p>
  </div>
</template>
